@import url('https://fonts.googleapis.com/css?family=DM Sans');
body{
    background-color: black;
    text-align: center;
    font-family: 'DM Sans';
    color:white;
}
.logo{
    width:80%;
    max-width:500px;
    margin-top: 15%
}
.soon{
    color: white;
    text-shadow: -5px 0.5px 5px rgb(220, 132, 218)
}
.footer{
    color:white;
    font-weight: 1px;
    font-size:8px;
    margin-top: 10%;
}
.insta{
    text-decoration: none;
    color: white
}
.instalogo{
    width: 10px;
    margin-left: 5px;
}
.vogue{
    margin: 5%;
}
.vogueimg{
    width:100%;
}

div.scroll-container {
    background-color: #aaaaa0;
    overflow: auto;
    white-space: nowrap;
    padding: 8px;
}
  
div.scroll-container img {
    padding: 5px;
    max-height: 500px;
}
  .slide{
    max-width: 100%;
    min-height: 100%;
}

/*--------NAV----------*/
#main_nav {
    display: none;
    top: 0;
    left: 0;
    position:sticky;
    background: none;
}

#main_nav:target {
    display: inherit;
    position: absolute;
    background: none;
    z-index: 4;
    width: auto;
}

.access_aid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 0;
    padding-top: 40px;
    background: black 10px 10px / 20px 20px no-repeat;
    z-index: 1;
}

#access_nav {
    background-color: #000;
    background-image: repeating-linear-gradient(#fff, #fff 0.5px, #fff 0.5px, #000 5px);
}

#access_top {
    background-image: linear-gradient(45deg, transparent 12.5px, #fff 12px, #fff 15px, transparent 0), linear-gradient(-45deg, transparent 12.5px, #fff 12px, #fff 15px, black 0);
    z-index: 2;
}
ul{
    background-color: black;
    padding: 20px;
    padding-top: -50px;
    text-align: right;
    width: 170px;
}
li{
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
}
li:hover{
    font-size: 18px;
    font-weight: bolder;
}
.li:active{
    font-weight: bolder;
    background-color: white;
}
.nav{
    background: none;
    text-decoration: none;
    color: rgb(236, 197, 235);
}
.nav:hover{
    color: white;
}
#main_nav a.active{
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
#main_nav a.active:hover{
    font-weight: bolder;
    color: rgb(236, 197, 235);
    text-decoration: none;
}

/*--------NAV END----------*/
